{% if item.modo == "lista" %}
<div class="pergunta{% if item.erros %} com-erro{% endif %}" id="{{ item.nome }}">
  <label class="enunciado" for="{{ item.nome }}-campo">{% include "interface/perguntas/_enunciado.html" %}</label>
  {% include "interface/perguntas/_cabecalho.html" %}
  <select id="{{ item.nome }}-campo" name="{{ item.nome }}"{% if item.descrito_por %} aria-describedby="{{ item.descrito_por }}"{% endif %}{% if item.pergunta.obrigatoria %} aria-required="true"{% endif %}{% if item.erros %} aria-invalid="true"{% endif %}>
    <option value="">Selecione…</option>
    {% for opcao in item.opcoes %}<option value="{{ opcao.valor }}"{% if opcao.marcado %} selected{% endif %}>{{ opcao.texto }}</option>
    {% endfor %}
  </select>
  {% include "interface/perguntas/_complemento_remover.html" %}
</div>
{% else %}
<fieldset class="pergunta{% if item.erros %} com-erro{% endif %}" id="{{ item.nome }}" role="radiogroup"{% if item.descrito_por %} aria-describedby="{{ item.descrito_por }}"{% endif %}{% if item.pergunta.obrigatoria %} aria-required="true"{% endif %}{% if item.erros %} aria-invalid="true"{% endif %}>
  <legend>{% include "interface/perguntas/_enunciado.html" %}</legend>
  {% include "interface/perguntas/_cabecalho.html" %}
  {% for opcao in item.opcoes %}
  <div class="opcao">
    <input type="radio" id="{{ opcao.id }}" name="{{ item.nome }}" value="{{ opcao.valor }}"{% if opcao.marcado %} checked{% endif %}>
    <label for="{{ opcao.id }}">{{ opcao.texto }}</label>
  </div>
  {% endfor %}
  {% include "interface/perguntas/_complemento_remover.html" %}
</fieldset>
{% endif %}
